<div class="bg-dark text-white p-3 pt-4">
	<h4>Heartbeat 2.0
	<button
		type="button" 
		class="btn mx-1 float-right" 
		[ngClass]="{'btn-info':socketOk,'btn-danger':!socketOk}"
		[title]="web_socket_status()"
		(click)="check_admin($event)"
		>
		<fa-icon [icon]="faBolt"></fa-icon>
	</button> 

	</h4>
</div>

	


