<div class="pt-1">
  <table id="request-table" class="table table-hover">
    <thead>
      <tr>
       <!-- Estas properties se van a poder cambiar desde las opciones de filtro y probablemente las cookies no se muestren en un td sino en algun collapsible o algo asi -->
        <th>Time</th>
        <th>Aplicacion</th>
        <th>Host</th>
        <th>Cookies</th>
        <th class="text-center">Status</th>
        <th class="text-center">Status Code</th>
        <th class="text-center">Time elapsed [ms]</th>
      </tr>
    </thead>
    <tbody>
		<tr *ngFor="let request of request_history | tableFilter: requests_filter ; trackBy: trackByRequest"
        [ngClass]="getRowStyle(request)"
     >
	    	<td>{{request.start_time|date:'dd-MM-yyyy HH:mm:ss'}}</td>
	    	<td>{{request.application}}</td>
	    	<td>{{request.host}}</td> 	
	    	<td>{{request.cookies}}</td>
        <td [ngSwitch]="RequestStatus[request.status]"
            class="text-center">
            <div [ngClass]="{'rotating': RequestStatus[request.status] === 'sent'}">
                  <fa-icon *ngSwitchCase="'sent'" 
                        [icon]="faCircleNotch" 
                        title="{{RequestStatus[request.status]}}">
                  </fa-icon>          
                  <fa-icon *ngSwitchCase="'ok'" 
                        [icon]="faCheck" 
                        title="{{RequestStatus[request.status]}}">
                  </fa-icon>
                     <fa-icon *ngSwitchCase="'cookies_redirect'" 
                        [icon]="faExchangeAlt" 
                        title="{{RequestStatus[request.status]}} [{{request.changed_cookies}}]">
                  </fa-icon>
                  <fa-icon *ngSwitchCase="'delayed'" 
                        [icon]="faHourglassEnd" 
                        title="{{RequestStatus[request.status]}}">
                  </fa-icon>
                  <fa-icon *ngSwitchCase="'redirect'" 
                        [icon]="faExchangeAlt" 
                        title="{{RequestStatus[request.status]}}">
                  </fa-icon>
                  <fa-icon *ngSwitchCase="'timeout'" 
                        [icon]="faStopwatch" 
                        title="{{RequestStatus[request.status]}}">
                  </fa-icon>
                  <fa-icon *ngSwitchCase="'error'" 
                        [icon]="faTimes" 
                        title="{{RequestStatus[request.status]}}">
                  </fa-icon>
                  <fa-icon *ngSwitchCase="'connection_problem'" 
                        [icon]="faTimesCircle" 
                        title="{{RequestStatus[request.status]}}">
                  </fa-icon>
                  
                  <div *ngSwitchDefault>?</div>
            </div>
        </td>
			  <td class="text-right">{{request.status_code}}</td>

			<td class="text-right">{{request.time_elapsed_ms}}</td>
		</tr>
    </tbody>
  </table>
</div>
