<div class="p-2 d-flex justify-content-end">
	<button 
		type="button" 
		class="btn btn-outline-info mx-1"
		title="Check now"
		(click)="check_now($event)"
		[ngClass]="{'disabled':!socketOk}"
	>
		<fa-icon [icon]="faSyncAlt"></fa-icon>
	</button>	 
	<button 
		type="button" 
		class="btn btn-outline-warning mx-1"
		title="Pause"
		(click)="pause($event)"
	>
		<fa-icon [icon]="faPause"></fa-icon>
	</button>	 
	<button 
		type="button" 
		class="btn btn-outline-danger mx-1"
		title="Delete history"
		(click)="deleteHistory($event)"
	>
		<fa-icon [icon]="faTrash"></fa-icon>
	</button> 
	<button 
		type="button" 
		class="btn btn-outline-warning mx-1"
		title="Show only warnings"
		(click)="showWarning($event)"
	>
		<fa-icon [icon]="faFire"></fa-icon>
	</button> 
	<button 
		type="button" 
		class="btn btn-outline-success mx-1"
		title="Filter"
		(click)="filter($event)"
	>
		<fa-icon [icon]="faFilter"></fa-icon>
	</button> 
	<button 
		type="button" 
		class="btn btn-outline-primary mx-1"
		title="Configuration"
		(click)="configuration($event)"
	>
		<fa-icon [icon]="faCogs"></fa-icon>
	</button> 
</div>

