<div class="card">
  <div class="card-header text-center bg-success text-white">
    Filter
  </div>
  <div class="card-body">
    <!--<h5 class="card-title">Special title treatment</h5>-->
    <form>
    	<div class="row">
	    	<div class="col-md-3">
		    	<div class="form-group">
		    		<label>Application</label>
		    		<input class="form-control" 
		    			   type="text" 
		    			   name="application"
						   [(ngModel)]="application"
		    			   >
		    	</div>
	    	</div>
	    	<div class="col-md-3">
		    	<div class="form-group">
		    		<label>Host</label>
		    		<input class="form-control" 
		    			   type="text" 
		    			   name="host"
		    			   [(ngModel)]="host"
		    			   >
		    	</div>
	    	</div>
	    	<div class="col-md-3">
		    	<div class="form-group">
		    		<label>Status code</label>
		    		<input class="form-control" 
		    			   type="text" 
		    			   name="status_code"
						   [(ngModel)]="status_code"
		    			   >
		    	</div>
	    	</div>
	    	
	    	<div *ngIf="is_admin" class="col-md-3 center-checkbox-container">
		    	<div class="form-check">
				  <label class="form-check-label form-check-label-centered">
				    <input 
				    	type="checkbox" 
				    	class="form-check-input" 
				    	name="active_filter"
				    	[(ngModel)]="active_filter"
				    	title="Stop checking the requests that not match the filter">
				  	Active filter
				  </label>
				</div>
	    	</div>
    	</div>

    </form>
  </div>
</div>