<app-header 
	[socketOk]="socketOk"
	(admin_event)="handle_change_admin_event($event)"
>
</app-header>
<app-menu 
		[socketOk]="socketOk"
		(menuEventRequest)="handleMenuEvent($event)"
		>
</app-menu>
<app-config-options *ngIf="show_config_panel" 
					[is_admin] = "is_admin"
					[delay_threshold_ms]="delay_threshold_ms"
					(delay_threshold_msChange)="update_delay_threshold($event)"
					[check_interval_ms] = "check_interval_ms"
					(check_interval_msChange)="update_check_interval($event)" 
					>				
</app-config-options>
<app-filter-options *ngIf="show_filter_panel"
					[is_admin] = "is_admin"
					(filterChange)="update_filter($event)" 
					>
</app-filter-options>

<app-requests-table 
					[request_history]="request_history"
					[requests_filter] = "requests_filter"
					>
</app-requests-table> 	 