<div class="card">
  <div class="card-header text-center bg-primary text-white">
    Configuration
  </div>
  <div class="card-body">
    <!--<h5 class="card-title">Special title treatment</h5>-->
    <form>
    	<div class="row">
	    	<div *ngIf="is_admin" class="col-md-3">
		    	<div class="form-group">
		    		<label>Interval [ms]</label>
		    		<input 
		    			class="form-control" 
		    			type="number" 
		    			name="check_interval_ms"
		    			[value]="check_interval_ms"
		    			(change)="check_interval_msChange($event)"
		    		>
		    	</div>
	    	</div>
	    	<div class="col-md-3">
		    	<div class="form-group">
		    		<label>Delay threshold [ms]</label>
		    		<input 
		    			class="form-control" 
		    			type="number" 
		    			name="delay_threshold_ms"
		    			[value]="delay_threshold_ms"
		    			(change)="delay_threshold_msChange($event)"
		    		>
		    	</div>
	    	</div>

	    	<div class="col-md-3 center-checkbox-container">
		    	<div class="form-check">
				  <label class="form-check-label form-check-label-centered">
				    <input type="checkbox" 
				    	   class="form-check-input" 
						   name="only_warnings"				    	   
						   [(ngModel)]="only_warnings"
				    	   >
				  	Show only warnings
				  </label>
				</div>
	    	</div>

	    	<div *ngIf="is_admin" class="col-md-3 center-checkbox-container text-muted">
		    	<div class="form-check">
				  <label class="form-check-label form-check-label-centered">
				    <input type="checkbox" 
				    	   class="form-check-input" 
						   name="keep_responses"
						   [(ngModel)]="keep_responses"
				    	   >
				  	Keep responses
				  </label>
				</div>
	    	</div>
    	</div>

    </form>
  </div>
</div>