<div class="row bg-dark text-white">
	<div class="col-2 p-2">
  		<button 
  			type="button" 
  			class="btn btn-primary"
  			(click)="handleClick()"> 
  			Send event
  		</button>
	</div>
<div class="col-2">
	<h5>Received messages:</h5>
	<ul style="list-style-type: none;">
		<li *ngFor="let message of received_messages">
			{{format(message)}}
		</li>
	</ul>
</div>		
	
</div>